<% include partials/top %>
<main>
<h1>ALL CATS</h1>
<p>We have a lot of cats. Check this out xD</p>
<ul>
  <% for (catname in cats) { %>
  <% let cat = cats[catname] %>
  <li>
    <h3><%=catname%></h3>
    <p><%=cat.description%></p>
    <figure>
      <img src="img/<%=cat.thumbnail%>"/>
    </figure>
    <% let a = Array(Math.floor(Math.random()*15)).join('!') %>
    <% let b = Array(Math.floor(Math.random()*8)).join('1') %>
    <% let c = Array(Math.floor(Math.random()*3)).join('one') %>
    <a href='/cat/<%=catname%>'>Read moar about <%=catname + a + b +c%></a>
  </li>
  <% } %>
</ul>
</main>
<% include partials/bot %>
